/* inicio.css */

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../source/img/fondo1.jpg);
}

header {
    background-color: #585858;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.logo_titulo {
    margin-left: 10px; 
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
    margin: 0 15px;
    display: inline;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    
}

nav a {
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15%;
}

nav a:hover {
    color: #d7d7d7;
    background-color: #909090;
}


.inicio{
 position: relative;
 background-image: url(../source/img/fondoAnimado2.gif);
 background-position: center center;
 background-size: cover;
 height: 90vh;
 min-height: 30rem;
 
}

.inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.inicio h1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
}



main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 1100px;
    
}

.main-article {
    width: 80%; /* Ajusta el ancho según tus preferencias */
}

.secondary-article {
    width: 40%; /* Ajusta el ancho según tus preferencias */
}

/* Añade estilos adicionales según sea necesario para los artículos */
article {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 800px;
}

article p{
    font-size: 20px;
}

.secondary-article img{
    width: 100%;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative; 
    
    width: 100%;
}




/* Estilos para hacer la página responsiva */
@media only screen and (max-width: 600px) {
    header {
        padding: 5px;
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 80px;
        margin-bottom: 10px;
    }

    .logo_titulo {
        margin-left: 0;
        text-align: center;
        margin-top: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    main {
        flex-direction: column;
        align-items: center;
        max-width: 600px;
    }

    article {
        padding: 10px;
    }

    .secondary-article {
        width: 85%; /* Ajusta el ancho según tus preferencias */
    }
}
